@page
@model Curry.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-primary text-center">Order Placed Successfully!</h1>
            Your Order Number is: @Model.OrderId <br /> <br />
            <img src="~/images/curry-in-a-hurry.jpg" alt="Curry In A Hurry Logo" width="65%"/>
        </div>
        <div class="col-md-12 text-center" style="color:maroon">
            <br />
            Your Order has been placed successfully! <br />
        </div>
    </div>

