@page
@model Curry.Pages.Admin.MenuItems.UpsertModel

@using Curry.Utility
@if (User.IsInRole(SD.ManagerRole))
{
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <div class="container">
            <div class="row px-2 mx-2 bg-white border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.MenuItemObj.menuItem.Id != 0)
                {
                    <input type="hidden" asp-for="MenuItemObj.menuItem.Id" />
                }
                <div class="col-md-12 px-3" style="border-bottom:1px solid #325d88;">
                    <h2 class="text-primary">@(Model.MenuItemObj.menuItem.Id != 0 ? "Update" : "Create") Menu Item</h2>
                </div>
                <div class="col-md-8 pt-3">
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label asp-for="MenuItemObj.menuItem.Name"></label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" asp-for="MenuItemObj.menuItem.Name" />
                            <span class="text-danger" asp-validation-for="MenuItemObj.menuItem.Name"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label asp-for="MenuItemObj.menuItem.Price"></label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" asp-for="MenuItemObj.menuItem.Price" />
                            <span class="text-danger" asp-validation-for="MenuItemObj.menuItem.Price"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label asp-for="MenuItemObj.menuItem.Description"></label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" asp-for="MenuItemObj.menuItem.Description" id="txtDesc" style="height:200px;"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label asp-for="MenuItemObj.menuItem.Image"></label>
                        </div>
                        <div class="col-md-9">
                            <input type="file" class="form-control" name="files" id="files" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label asp-for="MenuItemObj.menuItem.CategoryId"></label>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.MenuItemObj.menuItem.CategoryId, Model.MenuItemObj.CategoryList, "- Please select a Category", new { @class = "form-control" })
                            <span class="text-danger" asp-validation-for="MenuItemObj.menuItem.CategoryId"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label asp-for="MenuItemObj.menuItem.FoodTypeId"></label>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.MenuItemObj.menuItem.FoodTypeId, Model.MenuItemObj.FoodTypeList, "- Please select a Food Type", new { @class = "form-control" })
                            <span class="text-danger" asp-validation-for="MenuItemObj.menuItem.FoodTypeId"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-9 offset-3">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (Model.MenuItemObj.menuItem.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Update</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <a asp-page="./Index" class="btn btn-success form-control">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.MenuItemObj.menuItem.Image != null)
                {
                    <div class="col-md-4 p-4">
                        <img src="@Model.MenuItemObj.menuItem.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
                    </div>
                }
            </div>
        </div>
    </form>
}
else
{
    <div>
        <h1 class="danger">Access Denied</h1>
    </div>
}
@section scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubart: 'file edit format'
        });
    </script>
}